[2018-12-06 00:02] rmevans9 opened #1 "Repo Setup"
There are a few things I would like to have setup for the `reactotron` repos. Here lies a checklist.

- [x] Update repo description
- [x] README (ideally with docs but at a minimum just a placeholder)
- [ ] Issue Template setup
- [x] LICENSE (Should be there already)
- [ ] PR Template (maybe?)
- [x] CI/CD

[2018-12-31 17:02] crobinson42 opened #2 "react-native (w/ reactotronRedux()) freezing & crashing app"
I'm experiencing my app locking up and eventually crashing when using `reactotronRedux()` - there are no errors in my logs and this happens when an action is dispatched, but not every action. I have great test coverage in my app it has been working fine for over a year so I'm not suspicious of my codebase.

I'd love to help debug this issue I just don't know where to start. Here's a gist for my Re

[2019-01-01 19:12] #2 closed

[2019-01-01 19:13] infinitered-circleci commented on #2
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/reactotron-react-native)
- [GitHub release](https://github.com/infinitered/reactotron-react-native/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-01 19:16] rmevans9 commented on #2
@crobinson42 let me know if 2.1.4 works for you!

[2019-01-08 18:19] crobinson42 commented on #2
@rmevans9 I'm using v2.6 and now experiencing this same error 🤔

[2019-01-08 18:21] rmevans9 commented on #2
@crobinson42 I am not sure I follow - is this working right now?

[2019-02-09 19:11] rmevans9 opened #5 "Typedefs"
The current types for `reactotron-redux-saga` import from `reactotron-react-native` because that is where some of the typedefs are currently. Since we also have `reactotron-react-js` we probably need to consider getting these type defs out of the `reactotron-react-native` package and move them to `reactotron-core-client`

[2019-02-18 19:04] joncursi opened #7 "React Native yellow box warnings"
I would like to replace react-native's "Debug JS Remotely" option (Chrome dev tools) entirely with Reactotron. However it seems as though reactotron's `trackGlobalErrors` plugin only emits console _errors_ and ignores console _warnings_, which are always logged to Chrome dev tools.

<img width="768" alt="screen shot 2016-12-01 at 11 55 31 am" src="https://cloud.githubusercontent.com/assets/4974609

[2019-02-23 19:14] rmevans9 opened #8 "Remove async/await usage"
As of right now this gets compiled down to generators and that brings a lot of overhead on the package size. I know it seems like a step backward to suggest we stop using them but in the interest of minimizing the footprint of this library I think it makes sense for now.

[2019-02-24 11:51] #1 closed

[2019-03-01 01:58] infinitered-circleci opened #10 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `next` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-03-01 02:00] #10 closed

[2019-03-05 06:19] MWStudio4 opened #12 "networking plugin connect error in 3.x branch (undefined is not a function)"
Using demo-react-native project:

All steps from documentation passed

import Reactotron, { networking } from 'reactotron-react-native'
----------------------------------
Reactotron.use(networking())

But got
"undefined is not a function (evaluating '(0, _reactotronReactNative.networking)()')"

All is ok in 2.x branch.

[2019-03-05 10:36] MWStudio4 commented on #12
accidentally i've got this working. No need {networking} in import.
So enough just these raws in ReactotronConfig.js:
Reactotron.configure({ host: <your-hostname> })
  .useReactNative({
      networking: {
      //optionally, you can turn it off with false.
      ignoreUrls: /symbolicate/,
    }

  })

[2019-03-05 10:36] #12 closed

[2019-03-05 11:14] tstehle opened #13 "trackGlobalErrors is not a function"
Since 3.x.x, for all versions, I get a crash at startup;
`(0, _reactotronReactNative.trackGlobalErrors) is not a function.`
when I do a `.use(trackGlobalErrors())`.

I import trackGlobalErrors normally:
`import Reactotron, { trackGlobalErrors } from 'reactotron-react-native';`

Everything works fine in 2.2.0.

[2019-03-05 11:17] rmevans9 commented on #13
The individual plugins might have got lost in the rewrite. Can you try this for now?

[code]

I will work to get the individual plugins re-established as exports.

[2019-03-05 17:26] josephmbeveridge opened #14 "Update to use new community AsyncStorage"
As of RN 0.59.0 (still on rc3 today) AsyncStorage has been moved to https://github.com/react-native-community/react-native-async-storage and a warning is being shown if you are using the old core version.

https://github.com/infinitered/reactotron-react-native/blob/ab4444d0d8f467ef603b0e92b8217e7fd3c4deff/src/reactotron-react-native.ts#L1 still references the old version from core.

[2019-03-05 19:09] rmevans9 commented on #14
Hey @josephmbeveridge!

Thanks for the heads up. I was just thinking about what the plan is going to be for resolving this upcoming issue. I should hopefully have a fix for this by this weekend.

[2019-03-05 19:22] jamonholmgren commented on #13
Ran into the same thing following the docs [here](https://github.com/infinitered/reactotron/blob/master/docs/plugin-track-global-errors.md#usage).

[2019-03-06 01:36] #13 closed

[2019-03-06 01:37] infinitered-circleci commented on #13
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/reactotron-react-native)
- [GitHub release](https://github.com/infinitered/reactotron-react-native/releases/tag/v3.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-06 18:51] derekstavis opened #17 "Property 'useReactNative' does not exist on type 'Reactotron'"
Following the getting started on React Native tutorial on a TypeScript project is giving me the error on the issue's title.

This is the snippet I'm using:

[code]

Versions:

`reactotron-react-native@3.2.1`
`typescript@3.3.3333`

[2019-03-12 00:06] #5 closed

[2019-03-12 00:06] rmevans9 commented on #14
Just a quick update here. I have the changes in a branch and will be doing further testing of them before doing a release. It will be a breaking change when it lands!

[2019-03-12 00:13] rmevans9 commented on #17
Hey @derekstavis!

Sorry for the delay in my response. I just installed `reactotron-react-native` in a test TypeScript project and it was able to find the definitions in 3.2.1. Can you please confirm a few things for me:

1. Can you open `reactotron-react-native` in your `node_modules` folder and screenshot the contents?
2. Can you tell me the version reported in the `package.json` file within `re

[2019-03-13 18:25] francisrod01 commented on #17
@rmevans9 here's a screenshot about `reactotron-react-native` content:

![image](https://user-images.githubusercontent.com/4691768/54304378-c9415a80-45a3-11e9-97c6-a9964f1b43c8.png)

Dependencies:

I'm using react-native ejected (without expo)  :100:

- react@16.8.4
- react-native@0.59.0
- reactotron-react-native@3.2.1
- reactotron-redux@3.1.0

[2019-03-13 22:31] francisrod01 commented on #17
I solved this problem installing `reactotron-react-native@3.2.1`. :+1:

[2019-03-13 22:33] francisrod01 commented on #17
@derekstavis I solved this problem installing `react@16.6.1` and `react-native@0.57.7`.

[2019-04-02 07:16] randomBrainstormer opened #18 "Display query string params from the URL"
It would be useful to have the query string params that are in the URL parsed and visible. For example, the URL `https://duckduckgo.com/?q=url+param+request&t=brave&ia=web` has a query as part of the url, this query could be parsed and shown as
[code]

[2019-04-07 01:15] rmevans9 commented on #18
This is fixed in the current beta.

[2019-04-07 01:23] rmevans9 commented on #17
I am going to close this for now but if the issue persists please let me know

[2019-04-10 15:04] pvinis commented on #17
It is still like that. `useReactNative`, `clear`, `log`, `warn`, `error`, are all marked optional.
This is wrong. It comes from core-client, but the react-native one should make these non-optional.

[2019-04-10 15:05] pvinis commented on #17
Both on 3.2.1 and 3.2.2. It knows `configure`.

[2019-04-15 09:50] pvinis commented on #14
Do you think you will add it in peerDeps or deps?

[2019-04-16 09:04] pvinis commented on #17
Can we reopen this?

[2019-04-16 09:05] pvinis commented on #17
`configure` returns `Reactotron`, and not `Reactotron & { useReactNative.. }`.

[2019-04-16 09:16] rmevans9 commented on #17
Sure. I’ll take a look at this today.

[2019-04-25 13:56] cassianomon opened #53 "Can't resolve 'react-native/Libraries/Network/XHRInterceptor'"
I am having similar issue as: https://github.com/infinitered/reactotron/issues/420

[code]

package.json:

[code]

[2019-04-25 16:23] rmevans9 commented on #53
That is interesting. I don’t think that got moved in the latest version of react native. Can you do me a favor and give me a screenshot of the contents of “node_modules/react-native/Libraries/Network”?

[2019-04-25 16:38] cassianomon commented on #53
XHRInterceptor is there:

<img width="252" alt="Screenshot at Apr 25 13-38-21" src="https://user-images.githubusercontent.com/12648633/56752762-6b399280-675f-11e9-95c2-edc6d863e5c7.png">

[2019-04-26 01:12] rmevans9 commented on #53
That makes this more interesting. What version of reactotron react native are you using?

[2019-04-26 11:41] cassianomon commented on #53
It was the latest 3.2.2

[2019-05-02 00:19] italomlp commented on #17
+1 for this. Using React 16.8.3, React-Native 0.59.5, reactotron-react-native 3.3.0

[2019-05-02 15:27] italomlp opened #60 "Why most of Reactotron props are "optional" in typescript?"
Why most of the props of Reactotron are optional? As we can see in the following file (and another lines of it), most of the props has the `?`, that makes Typescript assumes they can be null or undefined too.
https://github.com/infinitered/reactotron-react-native/blob/master/src/reactotron-react-native.ts#L62

I'm using it in my React Native app, and recently migrate for Typescript. When I set `co

[2019-05-08 22:28] fbartho commented on #17
I'm running into this issue as well.

The problem is the builder-pattern that's in use. The core `configure()` method needs to be generic on the type of Reactotron, that way the method signatures are available.

I was able to work around this by doing:

[code]

[2019-05-08 23:33] fbartho commented on #17
I recommend that we make an interface in reactotron-core-client that generically defines the client in use.

Something like:

[code]

[2019-05-08 23:44] fbartho commented on #60
My proposal here: https://github.com/infinitered/reactotron-react-native/issues/17#issuecomment-490688562 would also fix this issue.

[2019-05-09 23:26] italomlp commented on #17
@fbartho your work around seems to good for now.

[2019-05-09 23:33] italomlp commented on #60
@fbartho your proposal sounds good and is very similar to what I thought at first. But maybe some props are optional for a reason. I opened this issue to know if the team (InfinityRed devs) really had that reason. If not, I'll make a PR when have free time.

[2019-05-10 01:30] rmevans9 commented on #60
There is not a real reason for it other then the core client doesn’t provide it so it complained about it. I’ll gladly accept any pr that makes this better

[2019-05-11 15:35] rmevans9 commented on #14
peerDeps @pvinis

[2019-05-11 15:36] rmevans9 commented on #14
An update here - I am waiting to see if metro gets updated to allow for optional requires. If they do I can do this in a backward compatible way, if they don't this will likely have to be a breaking change.

[2019-05-11 15:37] rmevans9 commented on #18
This is released

[2019-05-11 15:37] #18 closed

[2019-05-16 13:14] rodrigowpl opened #79 "Run Reactotron.createSagaMonitor() in release mode crash the app"
Run `Reactotron.createSagaMonitor()` in release mode crash the app

React Native version:
[code]

## Steps To Reproduce

1. Just call `Reactotron.createSagaMonitor()` in any place on your code
2. Install your app in release mode running `./gradlew installRelease` for android
3. Open your app

Here's a print screen of logcat:
![image](https://user-images.githubusercontent.com/18172307/57856382-4fa4

[2019-05-16 13:17] rodrigowpl commented on #79
Btw, my solution was basically running just in dev mode:
[code]

Maybe you could handle this internally or put it in the docs, what do you think? ;)

[2019-05-17 02:04] rmevans9 commented on #79
@rodrigowpl Hey! I am thinking that this might be happening because you are only setting up `reactotron` in dev mode. Can you show me where you are configuring reactotron with the plugins and such?

[2019-05-17 02:07] rmevans9 commented on #17
@fbartho Would you mind putting up a PR with your suggested changes? I would gladly accept some help making the types better 👍

[2019-05-17 02:11] fbartho commented on #17
@rmevans9 I'm happy to open some PRs, but since it's changes across two repositories, do you have any concerns/suggestions on how I should go about this?

Fork both, open two linked PRs?

[2019-05-17 02:19] rmevans9 commented on #17
Yeah, that works. You should be able to `(yarn/npm) link` between core-client and react-native to allow you to test them together before opening PRs.

[2019-05-21 12:21] rmevans9 commented on #17
This should be resolved in the latest version

[2019-05-21 12:21] #17 closed

[2019-05-22 00:42] derekstavis commented on #17
I just noticed the activity on this one right now! Too many Github notifications! Thanks @fbartho!!

[2019-06-06 22:38] adam-bratin opened #111 "getReactNativeDimensions throws exception with react-native-windows"
https://github.com/infinitered/reactotron-react-native/blob/4d66d10a49a0a50e032c1d34cbd26b3799fcbf0c/src/helpers/getReactNativeDimensions.ts#L35

this line throws an exception when run on a react-native-windows App because they have not implemented the screen dimension.

Expected Behavior:
App is able to load correctly

Actual behaviour:
App throws exception Cannot Get Dimension with key screen

[2019-06-07 00:59] rmevans9 commented on #111
Hmm... I am not too familiar with `react-native-windows`. Do you know if there is a way we can emulate the behavior we are using `Dimensions.get("screen")` for?

[2019-06-07 18:13] adam-bratin commented on #111
@rmevans9 Thanks for the quick reply. I am not exactly sure why you are using the screen dimensions, but in Window UWP a developer can only access the dimensions of the window of their application they do not get the full dimensions of the current screen. This is why RNW does not implement Dimensions.get("screen"). I think the best approach would be to try catch reading this value. That would at l

[2019-06-09 22:54] rmevans9 commented on #111
@adam-bratin we pull the dimensions as a part of the meta information we send with a connection to show in the "Home" tab in reactotron. Not very important overall however not sending it could make things look a little funny in reactotron. Does `Dimensions.get("window")` work in RNW?

[2019-06-09 23:09] adam-bratin commented on #111
@rmevans9 As far as I know it does work.

[2019-06-09 23:11] rmevans9 commented on #111
Ok, I will add this to my list to resolve soon. I will either try/catch it out and send nothing or send `Dimensions.get("window")` for RNW.

[2019-06-09 23:12] adam-bratin commented on #111
great thanks.

[2019-06-16 01:39] rmevans9 commented on #111
This will be fixed in `reactotron-react-native` 3.6.3 (releasing within a few min if nothing goes wrong)

[2019-06-16 01:39] #111 closed

[2019-07-07 11:39] nitaking commented on #14
I created.
https://github.com/infinitered/reactotron-react-native/pull/128

[2019-07-10 15:44] YauheniIhnatsyeu commented on #53
same issue

[2019-07-15 00:41] rmevans9 commented on #14
There is a beta version of `reactotron-react-native` now available that should solve for this issue. Please try it and report any issues found.

https://github.com/infinitered/reactotron-react-native/releases

[2019-07-15 00:41] #14 closed

[2019-07-15 00:41] rmevans9 commented on #60
I believe this issue is fixed

[2019-07-15 00:41] #60 closed

[2019-07-15 00:41] rmevans9 commented on #79
I am closing this for now. If you are still having the issue please let me know.

[2019-07-15 00:41] #79 closed

[2019-07-23 16:00] euroclydon37 commented on #7
Would definitely love this as well.

[2019-07-31 17:48] Ashoat opened #146 "No async storage Timeline events in 4.0.0-beta.1"
Hi there, first of all thanks for the great debugging tool! Very much appreciate everything you guys do for the community.

I'm trying the new `reactotron-react-native@4.0.0-beta.1` to see if I can get it working with the community `AsyncStorage`. I'm able to call the new `setAsyncStorageHandler` function without erroring, but I don't see any Async Storage Mutations in my Timeline tab. I've made s

[2019-07-31 18:14] rmevans9 commented on #146
Can you put the `setAsyncStorageHandler`call before `useReactNative`? I am wondering if we don't handle them being out of order well.

[2019-07-31 18:20] Ashoat commented on #146
That did it!

[2019-08-01 12:08] rmevans9 commented on #146
Awesome! I guess we should probably look to make it a bit more resilient to ordering of the calls

[2019-08-05 07:31] wsdt commented on #14
Still having this issue.

[2019-08-09 07:13] rezaarifian commented on #14
Still having this issue on release mode App crash on Android

[2019-08-09 08:43] rezaarifian commented on #79
I have same issue checking on Android, on debug mode app is working well.

But on variant release or assembleRelease App crash before SplashScreen.

Use : RN 0.60.4

**CreateStore**
[code]

**ReactotronConfig**
[code]

how to solve this ?

[2019-08-22 03:33] mlop113 commented on #53
![Screen Shot 2019-08-22 at 10 31 19 AM](https://user-images.githubusercontent.com/22517602/63483967-40bad480-c4c8-11e9-8480-3d42cbcf421e.png)

[2019-08-23 11:08] elektronik2k5 commented on #53
I'm having the same issue with the latest 3.6.5 :(
Linux, node@12.9.0, yarn@1.17.3

Has anyone found a workaround?

[2019-08-29 10:02] jckw commented on #146
It would be great to move this library over to @react-native-community/async-storage! Using both the deprecated AsyncStorage and the community-managed version [creates race conditions and hard-to-debug issues](https://github.com/react-native-community/async-storage/issues/12#issuecomment-526068090).

[2019-09-02 22:18] henriquejensen opened #162 "Typescript: An argument for 'options' was not provided"
I am configuring the Reactotron, but I got an error with typescript because I am not passing options to `useReactNative` function.

[code]

I was looking at the code and saw that the options parameter is required but all options attributes are optional. Should not be the options be optional in this case?

code link: https://github.com/infinitered/reactotron-react-native/blob/master/src/reactotron-

[2019-09-03 11:38] rmevans9 commented on #162
Yes, we should change the options to be optional. For now you can pass an empty object

[2019-09-03 13:12] #162 closed

[2019-09-09 12:10] airandfingers opened #165 "rn-host-detect: TypeError: arguments[0].indexOf is not a function"
Hi, after adding your library, I observed the error described in and fixed by https://github.com/jhen0409/rn-host-detect/pull/8:

I found a workaround (enabling "Debug JS Remotely" to avoid using `rn-host-detect`'s `console.warn` polyfill, but as long as that polyfill is broken, `reactotron` should not depend on `rn-host-detect`.

[2019-09-10 04:28] Aleksandern commented on #7
any news?

[2019-09-14 06:42] minhthong095 commented on #14
still having

[2019-09-16 09:06] 15matias15 opened #168 "setAsyncStorageHandler - Cannot invoke an object which is possibly 'undefined'"
Hi guys, I'm using `"reactotron-react-native": "4.0.0-beta.2"` and in the moment that I import asyncStorage and provide it to setAsyncStorageHandler, I'm getting this message from Typescript:
 `(property) ReactotronReactNative.setAsyncStorageHandler?: ((asyncStorage: any) => Reactotron<ReactotronReactNative> & ReactotronReactNative) | undefined
Cannot invoke an object which is possibly 'undefined'

[2019-09-23 11:02] akhatriST opened #171 "Adding Custom Commands results in unhandled promise rejection"
I have used the bowser boilerplate for creating my React Native app. It has built in support for Reactoron. It has two following custom commands for resetting the store
[code]
and
[code]
When I exit the app from my first screen and then launch the app again using the app icon, It shows the `unhandled promise rejection` error. During the debugging I found this error
[code]
It looks like the Reactot

[2019-09-23 12:46] rmevans9 commented on #171
Hey, thanks for the report. I’ve heard this a few times at this point and I believe I know the path forward for now. I’ll be working on a fix today

[2019-09-23 13:33] akhatriST commented on #171
Thank you for responding, will be waiting for the fix :)

[2019-09-24 00:43] rmevans9 commented on #171
https://github.com/infinitered/reactotron-react-native/releases/tag/v4.0.1 should fix your issue

[2019-09-24 00:43] #171 closed

[2019-09-24 07:14] akhatriST commented on #171
Hey @rmevans9 Thanks for the fix.
It is definitely an improvement in terms of error reporting, it shows a warning pop up rather than the unhandled promise rejection error.
I hope this is the intended behavior of this fix :)

[2019-09-24 10:15] rmevans9 commented on #171
Yeah, I left it as a warning because I want users to know that it happened Incase they did actually add duplicates. Android is a bit of a special case which I assume is where you are seeing the warning now because when you use the back button the app still somewhat keeps running

[2019-09-24 10:24] akhatriST commented on #171
yeah, fair enough. 👍

[2019-09-26 00:46] rmevans9 commented on #168
Hey! Sorry for the delay. Yeah, the typings for that are set as optional. You should be able to do this to get it working:

`.setAsyncStorageHandler!(asyncStorage)`

[2019-09-26 00:49] rmevans9 commented on #165
That is a fair assessment. I have been considering options here already. I haven't had time to act upon those thoughts just yet though.

[2019-09-26 00:50] rmevans9 commented on #146
@jckw the intention of the `setAsyncStorageHandler` is that you can use whichever one your app uses. Pass either one in and it should work as expected!

[2019-09-26 00:50] #146 closed

[2019-09-26 00:52] rmevans9 opened #176 "Fix unit tests and turn them back on for CI"
Right now tests fail hard and as such are turned off for CI. Lets see if we can make them work and get them back on.

[2019-09-27 11:18] 15matias15 commented on #168
Ok

[2019-09-27 11:18] #168 closed

[2019-10-01 00:01] chestercharles opened #182 "Reactotron.log(NaN) logs "null""
Environment:
- reactotron-react-native 3.4.1
- React Native 0.59.9
- Node v10.16.0

Reproduce:
[code]
![image](https://user-images.githubusercontent.com/8016126/65925025-e7d23c00-e3a3-11e9-8488-4bdb50bd6bb2.png)

[2019-10-07 14:29] k3nda opened #186 "Multiple connections - one new after each app reload [Android only]"
**Version:** 3.x.x and higher (working on 2.2.0)
**Platform:** Android (iOS is working)
**Steps to reproduce:**

1. start app on Android device (tested on Android 8.0.0 sdk 26)
2. check number of connection in the bottom left corner in Reactotron, there should be 1 connection
3. reload your app in emulator
4. and new connection appears and now you have 2 connections. This continues with every othe

[2019-10-07 14:30] rmevans9 commented on #186
Hello, can you please show your reactotron configuration?

[2019-10-07 14:33] k3nda commented on #186
[code]

[2019-10-07 17:19] rmevans9 commented on #186
Looks like you are missing the change needed for 4.0.0. Please check the breaking change section of this release:

https://github.com/infinitered/reactotron-react-native/releases/tag/v4.0.0

[2019-10-07 17:19] #186 closed

[2019-10-07 17:55] k3nda commented on #186
Ah thanks, that helped :+1:

[2019-11-01 14:09] chocky335 commented on #168
@15matias15 It should help: `npm start -- --reset-cache`

[2019-11-03 00:26] airandfingers commented on #165
https://github.com/jhen0409/rn-host-detect/pull/8 was merged into `rn-host-detect`, so this issue should now be fixed by upgrading to `rn-host-detect@1.1.6` in https://github.com/infinitered/reactotron-react-native/pull/195.

[2019-11-07 08:04] treymo commented on #165
Could #195 be merged now?  All the checks have passed.  This bug in rn-host-detect bit me as well

[2019-11-07 11:43] rmevans9 commented on #165
I’ll look to get it merged tonight

[2019-11-08 04:07] treymo commented on #165
Awesome! Thanks, and looking forward to it

[2019-11-17 21:01] AlexandreBonfim commented on #168
![Screenshot 2019-11-17 at 21 47 34](https://user-images.githubusercontent.com/25756055/69013956-b29aa100-0985-11ea-9e51-a4a63a5fa682.png)

Still broken.

[2019-11-24 13:59] ScreamZ opened #200 "Typescript typings in v4"
Missing typings for typescript in v4 because @types/reactotron-core-client reactotron-core-client is not shipped anymore, losing all auto-completion

[2019-11-24 14:00] rmevans9 commented on #200
Thats odd, it should be shipping types for all reactotron libraries. I will have a look at this in a bit.

[2019-12-06 10:30] reyalpsirc commented on #165
When will the merge happen?

[2020-01-18 15:59] rmevans9 commented on #165
Sorry for the incredibly long delay. I released a version with this merged just now.

[2020-01-18 15:59] #165 closed

[2020-02-05 15:44] aevaldas commented on #14
Upgraded `reactotron-react-native` to `4.0.3`, the issue persists

[2020-02-10 12:42] doronnac opened #239 "Reactotron.log + typescript - cannot invoke an object which is possibly 'undefined'"
reactotron-react-native v4.0.3

[code]
Saw a similar issue which was supposedly resolved. Maybe I'm missing something?

[2020-04-19 01:12] DavidNeiOs commented on #239
I found a temporary solution in this thread https://github.com/infinitered/reactotron-react-native/issues/168#issuecomment-535280418
@doronnac

[2020-05-01 20:16] cyphire commented on #7
without yellow box warnings, there is no way to see the sequence of your console messages and where the yellow box error fires.  React native is notoriously bad at actually showing you where in your code you are having an issue.  I use realm.io and thus cannot do real debugging.  I count on reactotron and really need the integration of the yellow boxes.

[2020-05-15 07:50] infinitered-circleci opened #381 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-07-13 21:03] leotm commented on #239
Since in our `ReactotronCore` _interface_ `log?: (...args: any[]) => void` is an optional _function_, we just need to assert its not null when calling it

[code]

Same goes for any other optional functions you're calling like `warn`, `error`, etc

[2020-07-16 17:56] patrick-narciso commented on #239
The @leotm solution is correct, it even works for other cases such as when using `Reactotron.createEnhancer!()`

[2020-08-09 19:16] StagasaurusRex opened #492 "Typescript + Reactotron + Flipper"
I am getting an error trying to add Reactotron + Flipper w/ typescript.

<img width="642" alt="image" src="https://user-images.githubusercontent.com/4968936/89739974-cf629180-da4a-11ea-9987-8d96b48cdebf.png">

It seems like types are available in reactotron-react-native/dist/types/FlipperConnectionManager, but they're not found.

Is there any easy fix on my side or is this something the library ne

[2020-09-21 18:49] infinitered-circleci commented on #381
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-10-23 07:17] jimmyltsinn opened #600 "reportError not working on React Native 0.63"
Seems like React Native 0.63 changed the type of parameter of `symbolicateStackTrace`:

https://github.com/facebook/react-native/commit/fa4f23e4e8c45b6882a323caebef294ac69cfbf2

Since there is a `catch` at the end of `reportError` with nothing printed, the `reportError` failed silently.

To support React Native 0.63, the following line

https://github.com/infinitered/reactotron-react-native/blob/b

[2020-11-18 14:24] pcarollo84 commented on #492
I have the same issue. Did you find a way to fix it @StagasaurusRex ?
With this configuration I can't make it work on Flipper as plugin. It only works with the standalone app.

[2020-11-18 15:08] StagasaurusRex commented on #492
Not really. I just added `// @ts-ignore` before that line. That causes an issue with my linter, but at least it works

[2021-01-13 22:30] jrobber opened #684 "overlay does not work with current versions of React"
![image](https://user-images.githubusercontent.com/6341880/104517911-1b929e80-55b4-11eb-850f-9ce4ddde3fe0.png)

[code]

[code]

[2021-01-21 13:09] renovate[bot] opened #696 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:32] #696 closed

[2021-02-18 02:55] shamilovtim opened #725 "Relative import paths break webpack: react-native/Libraries/Network/XHRInterceptor"
As mentioned by several other people who opened issues the relative import `react-native/Libraries/Network/XHRInterceptor` breaks Webpack

[2021-03-22 01:09] noway opened #768 "TypeError: o is not a function. (In 'o()', 'o' is undefined)"
Encountering this error straight after Getting Started installation:
![IMG_9E9138262D87-1](https://user-images.githubusercontent.com/2031472/111927976-38e56b00-8b17-11eb-85ef-cdd4edd25d37.jpeg)
[code]

reactotron config:
[code]

App.tsx:
[code]

react native info:
[code]

This is the minified snippet of where the error happens. I don't know where that relates to the unminified code, pretty hard to

[2021-04-03 11:20] akunal1 opened #782 "Unable to install reactotron-react-native"
**Package.json :**
[code]

**command :**
`npm i -S reactotron-react-native`

**ERROR:**
[code]

[2021-04-20 18:24] aluferraz commented on #768
+1

[2021-04-21 13:03] pascal-mormin commented on #768
Any solution ?

[2021-05-05 00:41] joseviniciusnunes opened #808 "How can I use the reactotron in a release version?"
Hello, I would like to use the reactotron in release mode of the app, to pass it to the person in charge of the backend to perform his tests

In release version it just doesn't work, it doesn't connect, I passed the right host and nothing, can someone help me?
When used in debug mode it works right on the smartphone.

Is there any way that I can catch the connection error in the reactotron websock

[2021-05-05 01:12] joseviniciusnunes commented on #808
Solved

Add android:usesCleartextTraffic="true" to AndroidManifest

[2021-05-05 01:12] #808 closed

[2021-05-07 11:02] Tj3n commented on #768
Any fixed yet...? this is getting really annoying when developing..

[2021-05-16 08:57] MahmonirB opened #823 "Toggle devtools doesn't work in reactotron"
I use below configs, but when I click on View -> Toggle Developer tools in reactotron, devtools can not connect to emulator and don't show Network tab for instance.

Mac OS Catalina 10.15.6,
Reactotron Version 3.0.0-beta.9
React Native 0.61.5

[code]

![image_2021_05_16T07_28_41_604Z](https://user-images.githubusercontent.com/37932243/118391599-5d0e8580-b64a-11eb-854e-aca500bcb908.png)

<img width

[2021-05-24 18:59] david-bishop-levelstudio commented on #239
Something like this:

[code]

[2021-05-27 17:34] LelandLong opened #842 "Fails with many errors: npm install reactotron-react-native or npm i --save-dev reactotron-react-native"
a couple of these -
unable to resolve dependency tree

I'm using:
MacOS 10.15.7
react-native 0.64.1

[2021-05-29 06:53] stearruda commented on #768
I've experienced that a couple of times.
The only fixes were to reload the bundler or rebuild the app.
I would love to know what to fix this once and for all.

[2021-06-03 15:37] mcarcaso commented on #768
This was annoying me too so I did a little digging and found that removing lines 22-26 from here did the trick for me: https://github.com/infinitered/ignite/blob/master/boilerplate/storybook/storybook.tsx#L22
I figured this wouldn't break reactotron because I noticed that reactotron is already set up here: https://github.com/infinitered/ignite/blob/master/boilerplate/app/models/environment.ts#L26

[2021-06-08 09:06] rafmrs commented on #842
Same here

[2021-06-14 03:40] Tj3n commented on #768
I'm still having this problem after commenting out that code, just simply save a model then problem appear again.

[2021-06-14 18:22] nicolas-meilan commented on #842
same here

[2021-06-14 18:22] nicolas-meilan commented on #782
same here

[2021-06-15 09:18] rafaelcanical commented on #842
This is the errors I get:

[code]

I'm using:
[code]

[2021-06-16 11:00] chengdongXue commented on #782
Hello, guy,
![image](https://user-images.githubusercontent.com/19664527/122207516-ccd79080-ced4-11eb-9af9-ff50ec9a9785.png)

But when I use this command I can succeed downloaded this plugin
**npm i --force reactotron-react-native**

[2021-07-04 08:24] AmirNexter commented on #842
same here

[2021-07-06 12:23] Kailash23 commented on #842
[code]
Please lot at this issue.

[2021-07-06 17:35] jamonholmgren commented on #842
We'll take a look, thanks for reporting. I suspect it has to do with the new way NPM is handling peer dependencies.

[2021-07-08 06:40] casamia918 commented on #768
I've been following this tutorial : https://shift.infinite.red/creating-a-trivia-app-with-ignite-bowser-part-ii-a286a978d0c8

I got this error message when I edit my react native code (question-screen) while fast refresh . I assume that this comes from memory garbage issue. Because fast refresh is well working on static data screen (demo-screen). But have problem in flatList which the item data co

[2021-07-14 19:00] jamonholmgren commented on #768
Still looking into this -- it does look like it's an issue with Reactotron.

[2021-07-22 13:58] russmenum commented on #842
Same here:

I have an all but new ```create-react-native-app``` project

when I try ```npm i --save-dev reactotron-react-native``` I get

[code]

but, ```Found: react-native@0.63.4``` is in the ```peer react-native@">=0.62.0-rc.0 <0.64.0"``` and complient with ```react-native@"^0.62.0"``` so not seeing what it is not happy about?

Do we have any idea how to fix this right? I really do not want to

[2021-08-30 09:43] renovate[bot] opened #939 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update babel monorepo to v7.15.0](../pull/917) (`@babel/core`, `@babel/preset-env`, `@babel/preset-typescript`)
 - [ ] [chore(de

[2021-09-24 18:47] IAmMarcellus commented on #842
@jamonholmgren This will be fixed by https://github.com/infinitered/reactotron-react-native/pull/593

[2021-11-01 08:39] YogiHa commented on #782
Facing the same issue (seems to be from React version > 17)
. manage to install with `-f` and get this from `audit fix`

[code]

[2021-11-23 22:02] leonskim opened #1026 "Idea: non-HOC storybookSwitcher"
`Reactotron.storybookSwitcher()` only works by wrapping the entire app. However, there are cases it's not ideal so what I've done is to connect to Reactotron directly by websocket and capture the messages: https://github.com/infinitered/ignite/pull/1839

The problem from above is, toggling Storybook is not bidirectional, so ultimately we'd need to have some sort of a listener and a message sending

[2021-11-28 08:10] adrenaline681 opened #1029 "Reactotron.display() doesnt work as expected when using the 'preview' parameter."
When I try to log using the 'display' method:
[code]

The output shows the 'name' twice instead of the 'preview':
![85595408-d1959b80-b616-11ea-9e18-99f64886d9aa](https://user-images.githubusercontent.com/12194431/143734798-133b3342-2681-4cce-b21f-90a4b66d0980.png)
'

How can I get this to work?

Using:
Reactotron 3.0.0-beta9

[2021-11-28 08:18] adrenaline681 commented on #1029
This is an old issue but if someone needs to fix this in the  future, the solution is to roll back to Reactotron v2.17.1

[2021-11-28 08:18] #1029 closed

[2021-12-14 12:24] elirangoshen commented on #53
any news or workaround ?

[2021-12-16 11:46] GermaVinsmoke commented on #239
But this solution gives this warning - "Forbidden non-null assertion."
Is it okay to have this warning?

[2022-01-17 18:59] jamonholmgren commented on #842
Fixed in v5.0.1

https://github.com/infinitered/reactotron-react-native/releases/tag/v5.0.1

[2022-01-17 18:59] #842 closed

[2022-01-17 19:00] jamonholmgren commented on #842
(Sorry about the delay!)

[2022-01-23 09:43] odjhey commented on #768
our team was also having similar problems, we were not able to identify why the `cache` is getting cleared on hot-reload.

so we patched with below
[code]
working fine so far. if you're using `patch-package` you may use below file `patches/reactotron-react-native+5.0.1.patch` to patch with the approach above
[code]

we also tried doing below options, they worked, we just decided above is better.
[

[2022-02-03 17:56] russmenum commented on #842
Tried to run ```[reactotron-react-native](https://github.com/infinitered/reactotron-react-native)``` it is still giving this error.

Do we need to use a different command?

[2022-02-03 18:05] russmenum opened #1040 "Still can not install v5.0.1 due to dependancies on new apps"
[code]

is the out put of ```npm i reactotron-react-native``` and ```npm i reactotron-react-native@5.0.1 ```

[2022-02-05 02:25] TheAlmightyBob opened #1041 "Flipper plugin incompatible with Flipper 0.113+"
As of Flipper Desktop 0.113.0, the Reactotron Flipper plugin no longer displays events. The Flipper error log is filled with reports like:

`Failed to process event for plugin flipper-plugin-reactotron TypeError: Cannot assign to read only property 'important' of object '#<Object>'`

I tried upgrading to the latest versions of FlipperKit (0.132.0), `react-native-flipper` (0.131.0), and `reactotron

[2022-02-10 07:42] #239 closed

[2022-05-12 05:12] #381 closed

[2022-05-12 05:12] jamonholmgren commented on #768
Just merged the PR: https://github.com/infinitered/reactotron-react-native/pull/1039

Should be able to upgrade to reactotron-react-native 5.0.2 to fix this issue going forward, once CI finishes.

[2022-05-12 05:13] jamonholmgren commented on #768
(Anyone want to submit a PR to Ignite to bump the dep on Ignite? I can do it, but if someone else wants the credit...it's an easy one!)

[2022-06-15 15:00] anabeatrizzz commented on #53
@elektronik2k5 can you tell me step by step how you did it?

[2022-06-19 07:40] elektronik2k5 commented on #53
@anabeatrizzz sorry, no, this was in a proprietary project a very long time ago and I stopped working with RN in favor of Flutter since then.

[2022-10-06 17:02] raybelisle opened #1043 "Undefined is not a function - reactotron startup"
I just installed reactotron and when I start up my app with the desktop client or the flipper client, I get this message immediately and no connection is established.
![Simulator Screen Shot - iPhone 11 - 2022-10-06 at 10 54 31](https://user-images.githubusercontent.com/821019/194373440-fb0f27f5-236b-4eb3-8c09-6388f566742a.png)

Environment is the latest version of the tools. In package.json:

[2022-11-09 10:43] 3rdp opened #1044 "Provide an unminified version in NPM?"
Not really a bug, I guess it's more of a feature request. This NPM package comes with minified code, and it plays well with `metro-react-native-babel-preset` by default. This Babel preset has `unstable_transformProfile` option, which alters how the app's source code is transformed. Essentially it's doing less work which improves the UX of debugging via breakpoints and speeds up bundle times. And i